.quality-section {
  padding: 40px 0;
  border-radius: 14px;
  margin: 40px 40px 0 40px;
  background-image: linear-gradient(268deg, #6fc4003d 41%, #fff 60%);
}

.quality-card {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  align-items: center;
}

.quality-content {
  display: flex;
  flex-direction: column;
}
.quality-content h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}
.quality-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 24px;
}

.quality-highlight {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.quality-highlight-title {
  font-weight: 600;
  color: #00a67e;
}

.quality-highlight img {
  width: 36px;
}

.quality-image img {
  width: 100%;
  border-radius: 12px;
}
@media (max-width: 992px) {
  .quality-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .quality-highlight {
    justify-content: center;
  }

  .quality-image {
    order: 1;
    margin-bottom: 30px;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .quality-content {
    order: 0;
  }
}
