.projet-hero {
  padding: 40px 0;
  margin: 0 40px 0 40px;
}
.projet-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projet-hero-content {
  max-width: 600px;;
}
.projet-hero-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.projet-hero-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}
.projet-hero-buttons {
  display: flex;
  gap: 16px;
}
.projet-hero-button {
  text-decoration: none;
  display: inline-block;
  border: 1px none var(--black);
  background-color: var(--t-colors--brand);
  color: #fff;
  text-align: center;
  align-self: center;
  border-radius: 200px;
  padding: 0.75rem 0.8rem;
  font-family: Opensauceone, sans-serif;
  font-weight: 500;
  transition: background-color 0.25s;
}
.projet-hero-button:hover{
  background-color: #333;
}
.projet-hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
@media (max-width: 992px) {
    .projet-hero-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projet-hero-title{
        text-align: center;
    }
    .projet-hero-text{
        text-align: center;
    }
    .projet-hero-buttons{
        justify-content: center;
    }
}