.cas-msd {
  padding: 40px 0;
  margin: 0 40px;
}
.cas-sodipan-content{
    width: 100%;
}
.cas-msd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .swiper {
    padding: unset;
  }
}
.cas-msd-subtext-cross img {
  width: 18px;
  transition: transform 0.3s;
}

.cas-msd-subtext-cross.open img {
  transform: rotate(45deg);
}
.cas-msd-subcontent {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 18px 0;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
}
.cas-msd-subtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6fc400;
  margin: unset;
}
.cas-msd-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.cas-msd-content-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}
.cas-msd-content-header-logo img {
  width: 200px;
}
.cas-msd-content-header-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: unset;
}
.cas-msd-slide {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s ease,
    opacity 0.4s ease,
    padding 0.4s ease;
  border-radius: 12px;
}
.cas-msd-slide.open {
  max-height: 1500px;
  opacity: 1;
}
.cas-msd-image {
  width: 100%;
}
