.cta-section {
  position: relative;
  color: white;
  overflow: hidden;
  padding: 40px 0 0 0;
}

.cta-top-shape {
  width: 100%;
  pointer-events: none;
}

.cta-background {
  background-color: #000000;
}

.cta-content .cta-container {
  max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
}
.cta-content .button{
  width: fit-content;
}

.cta-section h3 {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 600;
}

.cta-section p {
  font-size: 1rem;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .cta-section h3 {
    font-size: 1.6rem;
  }

  .cta-section p {
    font-size: 1rem;
  }
}
