.cta-section {
  position: relative;
  color: white;
  overflow: hidden;
}

.cta-top-shape {
  width: 100%;
  pointer-events: none;
}

.cta-background {
  background-color: #000000;
}

.cta-content .cta-container {
  max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
}

.cta-button {
  width: fit-content;
}

.cta-section h3 {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 600;
}

.cta-section p {
  font-size: 1.1rem;
  margin-bottom: 24px;
}

.cta-section .button-primary {
  display: inline-block;
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background-color: #ffffff;
  color: #00a67e;
  text-decoration: none;
  transition:
    background 0.25s ease,
    color 0.25s ease;
}

.cta-section .button-primary:hover {
  background-color: #f1f1f1;
  color: #007844;
}

@media (max-width: 992px) {
  .cta-section h3 {
    font-size: 1.6rem;
  }

  .cta-section p {
    font-size: 1rem;
  }
}
